<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Forum_JEE</display-name>
	
	<!-- Liste des fichiers de bienvenue -->
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>  <!-- Redirige vers la page d'index -->
    </welcome-file-list>
	
	<!-- Définition du servlet pour l'inscription -->
	<servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servlets.RegisterServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern> <!-- dépend du formaction de register.JSP -->
    </servlet-mapping>

	<!-- Définition du servlet pour la connexion -->
	<servlet>
        <servlet-name>ConnectionServlet</servlet-name>
        <servlet-class>servlets.ConnectionServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ConnectionServlet</servlet-name>
        <url-pattern>/connection</url-pattern> <!-- dépend du formaction de connection.JSP --> 
    </servlet-mapping>

	 <!-- Définition du servlet pour l'accueil -->	
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>servlets.HomeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern> <!-- dépend du formaction de connection.JSP -->
    </servlet-mapping>
    
     <!-- Définition du servlet pour les sujets d'une categorie -->	
    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>servlets.CategoryServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    
    <servlet>
	    <servlet-name>SujetServlet</servlet-name>
	    <servlet-class>servlets.SujetServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>SujetServlet</servlet-name>
	    <url-pattern>/sujet</url-pattern>
	</servlet-mapping>
	
	<servlet>
	    <servlet-name>CreationMessageServlet</servlet-name>
	    <servlet-class>servlets.CreationMessageServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>CreationMessageServlet</servlet-name>
	    <url-pattern>/creationMessage</url-pattern>
	</servlet-mapping>

	<servlet>
	    <servlet-name>HeaderServlet</servlet-name>
	    <servlet-class>servlets.HeaderServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>HeaderServlet</servlet-name>
	    <url-pattern>/header</url-pattern>
	</servlet-mapping>
	
	<filter>
        <filter-name>HeaderFilter</filter-name>
        <filter-class>filters.HeaderFilter</filter-class> <!-- Chemin complet vers la classe Filter -->
    </filter>

    <!-- Définition du mapping du filtre, il s'applique à toutes les requêtes -->
    <filter-mapping>
   		<filter-name>HeaderFilter</filter-name>
    	<url-pattern>/*</url-pattern> <!-- Toutes les requêtes HTTP -->
	</filter-mapping>

</web-app>
